apscheduler
asyncpg
duckduckgo-search
fastapi
feedparser
google-cloud-aiplatform
gunicorn
httpx
jinja2
lxml[html_clean]
moviepy
newspaper3k
openai
Pillow
python-dotenv
python-multipart
requests
starlette
uvicorn
yt-dlp
